.body {
    margin: auto;
    background-color: rgba(255, 204, 0, 0.73);
    display: flex;
    justify-content: stretch;
    padding-bottom: 22%;
    font-family: "Roboto Light", serif;
    width: 100%;
}


.content {
    width: 70%;
    margin: auto;
    margin-top: 0;
    flex-flow: column;
}

.pictureGallery {
    margin-bottom: 8%;
    font-size: 5em;
    text-decoration-line: underline;
    text-align: center;
    font-family: "Roboto Light", serif;
}